body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search {
  background: white;
  box-shadow: 0 3px 5px #cdcdcd;
  padding: 10px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search #search-input {
  flex: 5;
  border: 1px solid #00d2d3;
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
  height: 38px;
  padding: .2em .8em;
}
.search #search-input:focus, .search #search-input:active {
  border-color: #009fa0;
}
.search #search-button {
  border: transparent;
  border-bottom-right-radius: .3em;
  border-top-right-radius: .3em;
  background: #00d2d3;
  color: white;
  flex: 1;
}
.search #search-button:hover {
  background: #00c3c4;
}

.container {
  max-width: 1024px;
  margin: 2em auto;
}

.card {
  width: 100%;
  border-radius: .3em;
  display: flex;
  margin-top: 1em;
  box-shadow: 0 3px 6px #cdcdcd;
}
.card img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
}
.card .repdata {
  width: 100%;
  padding: .5em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .repdata div {
  padding: .2em 0;
}

.hint {
  text-align: center;
  color: #ff6b6b;
}

.loading {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 64px;
}

.loading:after {
  content: " ";
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #00d2d3;
  border-color: #00d2d3 transparent #00d2d3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
